<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="con" connectionString="Data Source=.\MSSQLSERVER2019;Initial Catalog=LadyDB;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="OMS_Astute.Properties.Settings.LadyDBConnectionString"
      connectionString="Data Source=TALHA-PC\MSSQLSERVER2019;Initial Catalog=LadyDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>